.bottom {
  margin: 0;
  padding: 1rem;
}

.movie-profile {
  display: flex;
  justify-content: space-between;

  &__left {

  }

  &__img {
    width: 15rem;
    height: 10rem;
  }
}

.movie-title {
  margin: 0 0 0.5rem 0;
}

.movie-subtitle {
  margin: 0.5rem 0;
}

.movie-score {
  margin: 0.5rem 0;
}
