$c-black: #000;
$c-grey: #ddd;

.section {
  height: 100vh;  //we never set a height right?
  padding: 1rem;
  background-color: $c-black;
}

.container {
  max-width: 43rem;
  margin: 2rem auto;

}

.content {
  background-color: $c-grey;
}
